<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-questionnaire-heading"
        data-cy="QuestionnaireCreateUpdateHeading"
        jhiTranslate="archisolverApp.questionnaire.home.createOrEditLabel"
      >
        Create or edit a Questionnaire
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.questionnaire.designation" for="field_designation"
            >Designation</label
          >
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.questionnaire.explication" for="field_explication"
            >Explication</label
          >
          <input
            type="text"
            class="form-control"
            name="explication"
            id="field_explication"
            data-cy="explication"
            formControlName="explication"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.questionnaire.typeQuestionnaire" for="field_typeQuestionnaire"
            >Type Questionnaire</label
          >
          <select
            class="form-control"
            name="typeQuestionnaire"
            formControlName="typeQuestionnaire"
            id="field_typeQuestionnaire"
            data-cy="typeQuestionnaire"
          >
            <option [ngValue]="null">{{ 'archisolverApp.TypeDestination.null' | translate }}</option>
            <option *ngFor="let typeDestination of typeDestinationValues" [value]="typeDestination">
              {{ 'archisolverApp.TypeDestination.' + typeDestination | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.questionnaire.dossier" for="field_dossier">Dossier</label>
          <select class="form-control" id="field_dossier" data-cy="dossier" name="dossier" formControlName="dossier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dossierOption.id === editForm.get('dossier')!.value?.id ? editForm.get('dossier')!.value : dossierOption"
              *ngFor="let dossierOption of dossiersSharedCollection; trackBy: trackDossierById"
            >
              {{ dossierOption.designation }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="archisolverApp.questionnaire.question" for="field_questions">Question</label>
          <select class="form-control" id="field_questions" data-cy="question" multiple name="questions" formControlName="questions">
            <option
              [ngValue]="getSelectedQuestion(questionOption, editForm.get('questions')!.value)"
              *ngFor="let questionOption of questionsSharedCollection; trackBy: trackQuestionById"
            >
              {{ questionOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
