<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-choix-reponse-heading"
        data-cy="ChoixReponseCreateUpdateHeading"
        jhiTranslate="archisolverApp.choixReponse.home.createOrEditLabel"
      >
        Create or edit a Choix Reponse
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.choixReponse.dateChoix" for="field_dateChoix">Date Choix</label>
          <div class="d-flex">
            <input
              id="field_dateChoix"
              data-cy="dateChoix"
              type="datetime-local"
              class="form-control"
              name="dateChoix"
              formControlName="dateChoix"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.choixReponse.dossier" for="field_dossier">Dossier</label>
          <select class="form-control" id="field_dossier" data-cy="dossier" name="dossier" formControlName="dossier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="dossierOption.id === editForm.get('dossier')!.value?.id ? editForm.get('dossier')!.value : dossierOption"
              *ngFor="let dossierOption of dossiersSharedCollection; trackBy: trackDossierById"
            >
              {{ dossierOption.designation }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.choixReponse.reponse" for="field_reponse">Reponse</label>
          <select class="form-control" id="field_reponse" data-cy="reponse" name="reponse" formControlName="reponse">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="reponseOption.id === editForm.get('reponse')!.value?.id ? editForm.get('reponse')!.value : reponseOption"
              *ngFor="let reponseOption of reponsesSharedCollection; trackBy: trackReponseById"
            >
              {{ reponseOption.designation }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
