<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldePch">
      <h2 data-cy="soldePchDetailsHeading"><span jhiTranslate="archisolverApp.soldePch.detail.title">Solde Pch</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldePch.id }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldePch.annee">Annee</span></dt>
        <dd>
          <span>{{ soldePch.annee }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldePch.mois">Mois</span></dt>
        <dd>
          <span>{{ soldePch.mois }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldePch.soldeMontantPch">Solde Montant Pch</span></dt>
        <dd>
          <span>{{ soldePch.soldeMontantPch }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldePch.soldeHeurePch">Solde Heure Pch</span></dt>
        <dd>
          <span>{{ soldePch.soldeHeurePch }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldePch.beneficiaire">Beneficiaire</span></dt>
        <dd>
          <div *ngIf="soldePch.beneficiaire">
            <a [routerLink]="['/beneficiaire', soldePch.beneficiaire?.id, 'view']">{{ soldePch.beneficiaire?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/solde-pch', soldePch.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
