<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-local-heading" data-cy="LocalCreateUpdateHeading" jhiTranslate="archisolverApp.local.home.createOrEditLabel">
        Create or edit a Local
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.local.designation" for="field_designation">Designation</label>
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.local.surface" for="field_surface">Surface</label>
          <input type="number" class="form-control" name="surface" id="field_surface" data-cy="surface" formControlName="surface" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.local.etage" for="field_etage">Etage</label>
          <input type="number" class="form-control" name="etage" id="field_etage" data-cy="etage" formControlName="etage" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.local.typelocal" for="field_typelocal">Typelocal</label>
          <select class="form-control" name="typelocal" formControlName="typelocal" id="field_typelocal" data-cy="typelocal">
            <option [ngValue]="null">{{ 'archisolverApp.TypeLocal.null' | translate }}</option>
            <option value="PROFESSIONNEL">{{ 'archisolverApp.TypeLocal.PROFESSIONNEL' | translate }}</option>
            <option value="HABITATION">{{ 'archisolverApp.TypeLocal.HABITATION' | translate }}</option>
            <option value="COMMUN">{{ 'archisolverApp.TypeLocal.COMMUN' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.local.batiment" for="field_batiment">Batiment</label>
          <select class="form-control" id="field_batiment" data-cy="batiment" name="batiment" formControlName="batiment">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="batimentOption.id === editForm.get('batiment')!.value?.id ? editForm.get('batiment')!.value : batimentOption"
              *ngFor="let batimentOption of batimentsSharedCollection; trackBy: trackBatimentById"
            >
              {{ batimentOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
