<div>
  <h2 id="page-heading" data-cy="SoldePchHeading">
    <span jhiTranslate="archisolverApp.soldePch.home.title">Solde Pches</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archisolverApp.soldePch.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-solde-pch"
        [routerLink]="['/solde-pch/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archisolverApp.soldePch.home.createLabel"> Create a new Solde Pch </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="soldePches?.length === 0">
    <span jhiTranslate="archisolverApp.soldePch.home.notFound">No soldePches found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="soldePches && soldePches.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePch.annee">Annee</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePch.mois">Mois</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePch.soldeMontantPch">Solde Montant Pch</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePch.soldeHeurePch">Solde Heure Pch</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePch.beneficiaire">Beneficiaire</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let soldePch of soldePches; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/solde-pch', soldePch.id, 'view']">{{ soldePch.id }}</a>
          </td>
          <td>{{ soldePch.annee }}</td>
          <td>{{ soldePch.mois }}</td>
          <td>{{ soldePch.soldeMontantPch }}</td>
          <td>{{ soldePch.soldeHeurePch }}</td>
          <td>
            <div *ngIf="soldePch.beneficiaire">
              <a [routerLink]="['/beneficiaire', soldePch.beneficiaire?.id, 'view']">{{ soldePch.beneficiaire?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/solde-pch', soldePch.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/solde-pch', soldePch.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(soldePch)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
