<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="dossier">
      <h2 data-cy="dossierDetailsHeading"><span jhiTranslate="archisolverApp.dossier.detail.title">Dossier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ dossier.id }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.dossier.designation">Designation</span></dt>
        <dd>
          <span>{{ dossier.designation }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.dossier.description">Description</span></dt>
        <dd>
          <span>{{ dossier.description }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.dossier.dateCreation">Date Creation</span></dt>
        <dd>
          <span>{{ dossier.dateCreation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.dossier.dateCloture">Date Cloture</span></dt>
        <dd>
          <span>{{ dossier.dateCloture | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.dossier.commanditaire">Commanditaire</span></dt>
        <dd>
          <div *ngIf="dossier.commanditaire">
            <a [routerLink]="['/commanditaire', dossier.commanditaire?.id, 'view']">{{ dossier.commanditaire?.idMetierInterne }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/dossier', dossier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
