<div>
  <h2 id="page-heading" data-cy="NatureActiviteHeading">
    <span jhiTranslate="archisolverApp.natureActivite.home.title">Nature Activites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archisolverApp.natureActivite.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nature-activite"
        [routerLink]="['/nature-activite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archisolverApp.natureActivite.home.createLabel"> Create a new Nature Activite </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="natureActivites?.length === 0">
    <span jhiTranslate="archisolverApp.natureActivite.home.notFound">No natureActivites found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="natureActivites && natureActivites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.natureActivite.code">Code</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.natureActivite.libelle">Libelle</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.natureActivite.description">Description</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.natureActivite.strategie">Strategie</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.natureActivite.strategie">Strategie</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.natureActivite.strategie">Strategie</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.natureActivite.strategie">Strategie</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let natureActivite of natureActivites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nature-activite', natureActivite.id, 'view']">{{ natureActivite.id }}</a>
          </td>
          <td>{{ natureActivite.code }}</td>
          <td>{{ natureActivite.libelle }}</td>
          <td>{{ natureActivite.description }}</td>
          <td>
            <div *ngIf="natureActivite.strategie">
              <a [routerLink]="['/strategie-ci', natureActivite.strategie?.id, 'view']">{{ natureActivite.strategie?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="natureActivite.strategie">
              <a [routerLink]="['/strategie-apa', natureActivite.strategie?.id, 'view']">{{ natureActivite.strategie?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="natureActivite.strategie">
              <a [routerLink]="['/strategie-pch', natureActivite.strategie?.id, 'view']">{{ natureActivite.strategie?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="natureActivite.strategie">
              <a [routerLink]="['/strategie-pch-e', natureActivite.strategie?.id, 'view']">{{ natureActivite.strategie?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nature-activite', natureActivite.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nature-activite', natureActivite.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(natureActivite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
