<div>
  <h2 id="page-heading" data-cy="ConsommationPchEHeading">
    <span jhiTranslate="archisolverApp.consommationPchE.home.title">Consommation Pch ES</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archisolverApp.consommationPchE.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consommation-pch-e"
        [routerLink]="['/consommation-pch-e/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archisolverApp.consommationPchE.home.createLabel"> Create a new Consommation Pch E </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="consommationPchES?.length === 0">
    <span jhiTranslate="archisolverApp.consommationPchE.home.notFound">No consommationPchES found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="consommationPchES && consommationPchES.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.consommationPchE.date">Date</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.consommationPchE.montantCotisations">Montant Cotisations</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.consommationPchE.nbHeures">Nb Heures</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.consommationPchE.beneficiaire">Beneficiaire</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.consommationPchE.strategiePchE">Strategie Pch E</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consommationPchE of consommationPchES; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/consommation-pch-e', consommationPchE.id, 'view']">{{ consommationPchE.id }}</a>
          </td>
          <td>{{ consommationPchE.date | formatMediumDatetime }}</td>
          <td>{{ consommationPchE.montantCotisations }}</td>
          <td>{{ consommationPchE.nbHeures }}</td>
          <td>
            <div *ngIf="consommationPchE.beneficiaire">
              <a [routerLink]="['/beneficiaire', consommationPchE.beneficiaire?.id, 'view']">{{ consommationPchE.beneficiaire?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="consommationPchE.strategiePchE">
              <a [routerLink]="['/strategie-pch-e', consommationPchE.strategiePchE?.id, 'view']">{{
                consommationPchE.strategiePchE?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/consommation-pch-e', consommationPchE.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/consommation-pch-e', consommationPchE.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(consommationPchE)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
