<div>
  <h2 id="page-heading" data-cy="ImpactHeading">
    <span jhiTranslate="archisolverApp.impact.home.title">Impacts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archisolverApp.impact.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-impact"
        [routerLink]="['/impact/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archisolverApp.impact.home.createLabel"> Create a new Impact </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="impacts?.length === 0">
    <span jhiTranslate="archisolverApp.impact.home.notFound">No impacts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="impacts && impacts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.impact.designation">Designation</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.impact.explication">Explication</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.impact.typeImpact">Type Impact</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.impact.reponse">Reponse</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let impact of impacts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/impact', impact.id, 'view']">{{ impact.id }}</a>
          </td>
          <td>{{ impact.designation }}</td>
          <td>{{ impact.explication }}</td>
          <td jhiTranslate="{{ 'archisolverApp.TypeDestination.' + impact.typeImpact }}">{{ impact.typeImpact }}</td>
          <td>
            <div *ngIf="impact.reponse">
              <a [routerLink]="['/reponse', impact.reponse?.id, 'view']">{{ impact.reponse?.designation }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/impact', impact.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/impact', impact.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(impact)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
