<div>
  <h2 id="page-heading" data-cy="StrategieApaHeading">
    <span jhiTranslate="archisolverApp.strategieApa.home.title">Strategie Apas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archisolverApp.strategieApa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-strategie-apa"
        [routerLink]="['/strategie-apa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archisolverApp.strategieApa.home.createLabel"> Create a new Strategie Apa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="strategieApas?.length === 0">
    <span jhiTranslate="archisolverApp.strategieApa.home.notFound">No strategieApas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="strategieApas && strategieApas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.strategieApa.isActif">Is Actif</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.strategieApa.anne">Anne</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.strategieApa.montantPlafond">Montant Plafond</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.strategieApa.nbPlafondheure">Nb Plafondheure</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.strategieApa.taux">Taux</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.strategieApa.aide">Aide</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let strategieApa of strategieApas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/strategie-apa', strategieApa.id, 'view']">{{ strategieApa.id }}</a>
          </td>
          <td>{{ strategieApa.isActif }}</td>
          <td>{{ strategieApa.anne }}</td>
          <td>{{ strategieApa.montantPlafond }}</td>
          <td>{{ strategieApa.nbPlafondheure }}</td>
          <td>{{ strategieApa.taux }}</td>
          <td>
            <div *ngIf="strategieApa.aide">
              <a [routerLink]="['/aide', strategieApa.aide?.id, 'view']">{{ strategieApa.aide?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/strategie-apa', strategieApa.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/strategie-apa', strategieApa.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(strategieApa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
