<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-nature-montant-heading"
        data-cy="NatureMontantCreateUpdateHeading"
        jhiTranslate="archisolverApp.natureMontant.home.createOrEditLabel"
      >
        Create or edit a Nature Montant
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.natureMontant.code" for="field_code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.natureMontant.libelle" for="field_libelle">Libelle</label>
          <input type="text" class="form-control" name="libelle" id="field_libelle" data-cy="libelle" formControlName="libelle" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.natureMontant.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.natureMontant.strategie" for="field_strategie">Strategie</label>
          <select class="form-control" id="field_strategie" data-cy="strategie" name="strategie" formControlName="strategie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                strategieCiOption.id === editForm.get('strategie')!.value?.id ? editForm.get('strategie')!.value : strategieCiOption
              "
              *ngFor="let strategieCiOption of strategieCisSharedCollection; trackBy: trackStrategieCiById"
            >
              {{ strategieCiOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.natureMontant.strategie" for="field_strategie">Strategie</label>
          <select class="form-control" id="field_strategie" data-cy="strategie" name="strategie" formControlName="strategie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                strategieApaOption.id === editForm.get('strategie')!.value?.id ? editForm.get('strategie')!.value : strategieApaOption
              "
              *ngFor="let strategieApaOption of strategieApasSharedCollection; trackBy: trackStrategieApaById"
            >
              {{ strategieApaOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.natureMontant.strategie" for="field_strategie">Strategie</label>
          <select class="form-control" id="field_strategie" data-cy="strategie" name="strategie" formControlName="strategie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                strategiePchOption.id === editForm.get('strategie')!.value?.id ? editForm.get('strategie')!.value : strategiePchOption
              "
              *ngFor="let strategiePchOption of strategiePchesSharedCollection; trackBy: trackStrategiePchById"
            >
              {{ strategiePchOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.natureMontant.strategie" for="field_strategie">Strategie</label>
          <select class="form-control" id="field_strategie" data-cy="strategie" name="strategie" formControlName="strategie">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                strategiePchEOption.id === editForm.get('strategie')!.value?.id ? editForm.get('strategie')!.value : strategiePchEOption
              "
              *ngFor="let strategiePchEOption of strategiePchESSharedCollection; trackBy: trackStrategiePchEById"
            >
              {{ strategiePchEOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
