<div>
  <h2 id="page-heading" data-cy="AdresseHeading">
    <span jhiTranslate="archisolverApp.adresse.home.title">Adresses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archisolverApp.adresse.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adresse"
        [routerLink]="['/adresse/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archisolverApp.adresse.home.createLabel"> Create a new Adresse </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="adresses?.length === 0">
    <span jhiTranslate="archisolverApp.adresse.home.notFound">No adresses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="adresses && adresses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.adresse.adresseLigne1">Adresse Ligne 1</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.adresse.adresseLigne2">Adresse Ligne 2</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.adresse.codePostal">Code Postal</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.adresse.ville">Ville</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.adresse.stateProvince">State Province</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.adresse.departement">Departement</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adresse of adresses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/adresse', adresse.id, 'view']">{{ adresse.id }}</a>
          </td>
          <td>{{ adresse.adresseLigne1 }}</td>
          <td>{{ adresse.adresseLigne2 }}</td>
          <td>{{ adresse.codePostal }}</td>
          <td>{{ adresse.ville }}</td>
          <td>{{ adresse.stateProvince }}</td>
          <td>
            <div *ngIf="adresse.departement">
              <a [routerLink]="['/departement', adresse.departement?.id, 'view']">{{ adresse.departement?.nom }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/adresse', adresse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/adresse', adresse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(adresse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
