<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-commanditaire-heading"
        data-cy="CommanditaireCreateUpdateHeading"
        jhiTranslate="archisolverApp.commanditaire.home.createOrEditLabel"
      >
        Create or edit a Commanditaire
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.commanditaire.idMetierInterne" for="field_idMetierInterne"
            >Id Metier Interne</label
          >
          <input
            type="text"
            class="form-control"
            name="idMetierInterne"
            id="field_idMetierInterne"
            data-cy="idMetierInterne"
            formControlName="idMetierInterne"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.commanditaire.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.commanditaire.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.commanditaire.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.commanditaire.telephoneFixe" for="field_telephoneFixe"
            >Telephone Fixe</label
          >
          <input
            type="text"
            class="form-control"
            name="telephoneFixe"
            id="field_telephoneFixe"
            data-cy="telephoneFixe"
            formControlName="telephoneFixe"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.commanditaire.telephonePortable" for="field_telephonePortable"
            >Telephone Portable</label
          >
          <input
            type="text"
            class="form-control"
            name="telephonePortable"
            id="field_telephonePortable"
            data-cy="telephonePortable"
            formControlName="telephonePortable"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.commanditaire.connuDepuis" for="field_connuDepuis"
            >Connu Depuis</label
          >
          <div class="input-group">
            <input
              id="field_connuDepuis"
              data-cy="connuDepuis"
              type="text"
              class="form-control"
              name="connuDepuis"
              ngbDatepicker
              #connuDepuisDp="ngbDatepicker"
              formControlName="connuDepuis"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="connuDepuisDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
