<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="consommationPchE">
      <h2 data-cy="consommationPchEDetailsHeading">
        <span jhiTranslate="archisolverApp.consommationPchE.detail.title">Consommation Pch E</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ consommationPchE.id }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.consommationPchE.date">Date</span></dt>
        <dd>
          <span>{{ consommationPchE.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.consommationPchE.montantCotisations">Montant Cotisations</span></dt>
        <dd>
          <span>{{ consommationPchE.montantCotisations }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.consommationPchE.nbHeures">Nb Heures</span></dt>
        <dd>
          <span>{{ consommationPchE.nbHeures }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.consommationPchE.beneficiaire">Beneficiaire</span></dt>
        <dd>
          <div *ngIf="consommationPchE.beneficiaire">
            <a [routerLink]="['/beneficiaire', consommationPchE.beneficiaire?.id, 'view']">{{ consommationPchE.beneficiaire?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="archisolverApp.consommationPchE.strategiePchE">Strategie Pch E</span></dt>
        <dd>
          <div *ngIf="consommationPchE.strategiePchE">
            <a [routerLink]="['/strategie-pch-e', consommationPchE.strategiePchE?.id, 'view']">{{ consommationPchE.strategiePchE?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/consommation-pch-e', consommationPchE.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
