<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-impact-heading" data-cy="ImpactCreateUpdateHeading" jhiTranslate="archisolverApp.impact.home.createOrEditLabel">
        Create or edit a Impact
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.impact.designation" for="field_designation">Designation</label>
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.impact.explication" for="field_explication">Explication</label>
          <input
            type="text"
            class="form-control"
            name="explication"
            id="field_explication"
            data-cy="explication"
            formControlName="explication"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.impact.typeImpact" for="field_typeImpact">Type Impact</label>
          <select class="form-control" name="typeImpact" formControlName="typeImpact" id="field_typeImpact" data-cy="typeImpact">
            <option [ngValue]="null">{{ 'archisolverApp.TypeDestination.null' | translate }}</option>
            <option value="TERRAIN">{{ 'archisolverApp.TypeDestination.TERRAIN' | translate }}</option>
            <option value="BATIMENT">{{ 'archisolverApp.TypeDestination.BATIMENT' | translate }}</option>
            <option value="LOCAL">{{ 'archisolverApp.TypeDestination.LOCAL' | translate }}</option>
            <option value="ENVIRONNEMENT">{{ 'archisolverApp.TypeDestination.ENVIRONNEMENT' | translate }}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.impact.reponse" for="field_reponse">Reponse</label>
          <select class="form-control" id="field_reponse" data-cy="reponse" name="reponse" formControlName="reponse">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="reponseOption.id === editForm.get('reponse')!.value?.id ? editForm.get('reponse')!.value : reponseOption"
              *ngFor="let reponseOption of reponsesSharedCollection; trackBy: trackReponseById"
            >
              {{ reponseOption.designation }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
