<div>
  <h2 id="page-heading" data-cy="SoldePchEHeading">
    <span jhiTranslate="archisolverApp.soldePchE.home.title">Solde Pch ES</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="archisolverApp.soldePchE.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-solde-pch-e"
        [routerLink]="['/solde-pch-e/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="archisolverApp.soldePchE.home.createLabel"> Create a new Solde Pch E </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="soldePchES?.length === 0">
    <span jhiTranslate="archisolverApp.soldePchE.home.notFound">No soldePchES found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="soldePchES && soldePchES.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePchE.annee">Annee</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePchE.mois">Mois</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePchE.soldeMontantPchE">Solde Montant Pch E</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePchE.soldeHeurePchE">Solde Heure Pch E</span></th>
          <th scope="col"><span jhiTranslate="archisolverApp.soldePchE.beneficiaire">Beneficiaire</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let soldePchE of soldePchES; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/solde-pch-e', soldePchE.id, 'view']">{{ soldePchE.id }}</a>
          </td>
          <td>{{ soldePchE.annee }}</td>
          <td>{{ soldePchE.mois }}</td>
          <td>{{ soldePchE.soldeMontantPchE }}</td>
          <td>{{ soldePchE.soldeHeurePchE }}</td>
          <td>
            <div *ngIf="soldePchE.beneficiaire">
              <a [routerLink]="['/beneficiaire', soldePchE.beneficiaire?.id, 'view']">{{ soldePchE.beneficiaire?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/solde-pch-e', soldePchE.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/solde-pch-e', soldePchE.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(soldePchE)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
