<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-solde-apa-heading" data-cy="SoldeApaCreateUpdateHeading" jhiTranslate="archisolverApp.soldeApa.home.createOrEditLabel">
        Create or edit a Solde Apa
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.soldeApa.annee" for="field_annee">Annee</label>
          <input type="number" class="form-control" name="annee" id="field_annee" data-cy="annee" formControlName="annee" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.soldeApa.mois" for="field_mois">Mois</label>
          <input type="number" class="form-control" name="mois" id="field_mois" data-cy="mois" formControlName="mois" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.soldeApa.soldeMontantApa" for="field_soldeMontantApa"
            >Solde Montant Apa</label
          >
          <input
            type="number"
            class="form-control"
            name="soldeMontantApa"
            id="field_soldeMontantApa"
            data-cy="soldeMontantApa"
            formControlName="soldeMontantApa"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.soldeApa.soldeHeureApa" for="field_soldeHeureApa"
            >Solde Heure Apa</label
          >
          <input
            type="number"
            class="form-control"
            name="soldeHeureApa"
            id="field_soldeHeureApa"
            data-cy="soldeHeureApa"
            formControlName="soldeHeureApa"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.soldeApa.beneficiaire" for="field_beneficiaire"
            >Beneficiaire</label
          >
          <select class="form-control" id="field_beneficiaire" data-cy="beneficiaire" name="beneficiaire" formControlName="beneficiaire">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                beneficiaireOption.id === editForm.get('beneficiaire')!.value?.id ? editForm.get('beneficiaire')!.value : beneficiaireOption
              "
              *ngFor="let beneficiaireOption of beneficiairesSharedCollection; trackBy: trackBeneficiaireById"
            >
              {{ beneficiaireOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
