<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="local">
      <h2 data-cy="localDetailsHeading"><span jhiTranslate="archisolverApp.local.detail.title">Local</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ local.id }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.local.designation">Designation</span></dt>
        <dd>
          <span>{{ local.designation }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.local.surface">Surface</span></dt>
        <dd>
          <span>{{ local.surface }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.local.etage">Etage</span></dt>
        <dd>
          <span>{{ local.etage }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.local.typelocal">Typelocal</span></dt>
        <dd>
          <span jhiTranslate="{{ 'archisolverApp.TypeLocal.' + local.typelocal }}">{{ local.typelocal }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.local.batiment">Batiment</span></dt>
        <dd>
          <div *ngIf="local.batiment">
            <a [routerLink]="['/batiment', local.batiment?.id, 'view']">{{ local.batiment?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/local', local.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
