<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="soldeCi">
      <h2 data-cy="soldeCiDetailsHeading"><span jhiTranslate="archisolverApp.soldeCi.detail.title">Solde Ci</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ soldeCi.id }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldeCi.annee">Annee</span></dt>
        <dd>
          <span>{{ soldeCi.annee }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldeCi.soldeMontantCi">Solde Montant Ci</span></dt>
        <dd>
          <span>{{ soldeCi.soldeMontantCi }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldeCi.soldeMontantCiRec">Solde Montant Ci Rec</span></dt>
        <dd>
          <span>{{ soldeCi.soldeMontantCiRec }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.soldeCi.beneficiaire">Beneficiaire</span></dt>
        <dd>
          <div *ngIf="soldeCi.beneficiaire">
            <a [routerLink]="['/beneficiaire', soldeCi.beneficiaire?.id, 'view']">{{ soldeCi.beneficiaire?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/solde-ci', soldeCi.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
