<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-consommation-ci-heading"
        data-cy="ConsommationCiCreateUpdateHeading"
        jhiTranslate="archisolverApp.consommationCi.home.createOrEditLabel"
      >
        Create or edit a Consommation Ci
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.consommationCi.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.consommationCi.montantCi" for="field_montantCi">Montant Ci</label>
          <input type="number" class="form-control" name="montantCi" id="field_montantCi" data-cy="montantCi" formControlName="montantCi" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.consommationCi.montantRecuperable" for="field_montantRecuperable"
            >Montant Recuperable</label
          >
          <input
            type="number"
            class="form-control"
            name="montantRecuperable"
            id="field_montantRecuperable"
            data-cy="montantRecuperable"
            formControlName="montantRecuperable"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.consommationCi.beneficiaire" for="field_beneficiaire"
            >Beneficiaire</label
          >
          <select class="form-control" id="field_beneficiaire" data-cy="beneficiaire" name="beneficiaire" formControlName="beneficiaire">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                beneficiaireOption.id === editForm.get('beneficiaire')!.value?.id ? editForm.get('beneficiaire')!.value : beneficiaireOption
              "
              *ngFor="let beneficiaireOption of beneficiairesSharedCollection; trackBy: trackBeneficiaireById"
            >
              {{ beneficiaireOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="archisolverApp.consommationCi.strategieCi" for="field_strategieCi"
            >Strategie Ci</label
          >
          <select class="form-control" id="field_strategieCi" data-cy="strategieCi" name="strategieCi" formControlName="strategieCi">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                strategieCiOption.id === editForm.get('strategieCi')!.value?.id ? editForm.get('strategieCi')!.value : strategieCiOption
              "
              *ngFor="let strategieCiOption of strategieCisSharedCollection; trackBy: trackStrategieCiById"
            >
              {{ strategieCiOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
