<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="strategieApa">
      <h2 data-cy="strategieApaDetailsHeading"><span jhiTranslate="archisolverApp.strategieApa.detail.title">Strategie Apa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ strategieApa.id }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.strategieApa.isActif">Is Actif</span></dt>
        <dd>
          <span>{{ strategieApa.isActif }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.strategieApa.anne">Anne</span></dt>
        <dd>
          <span>{{ strategieApa.anne }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.strategieApa.montantPlafond">Montant Plafond</span></dt>
        <dd>
          <span>{{ strategieApa.montantPlafond }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.strategieApa.nbPlafondheure">Nb Plafondheure</span></dt>
        <dd>
          <span>{{ strategieApa.nbPlafondheure }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.strategieApa.taux">Taux</span></dt>
        <dd>
          <span>{{ strategieApa.taux }}</span>
        </dd>
        <dt><span jhiTranslate="archisolverApp.strategieApa.aide">Aide</span></dt>
        <dd>
          <div *ngIf="strategieApa.aide">
            <a [routerLink]="['/aide', strategieApa.aide?.id, 'view']">{{ strategieApa.aide?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/strategie-apa', strategieApa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
